.btn{ 
    outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--primary);
  font-size: 2.2rem;
  border-radius: 12px;
  position: relative;
  top: -3px;
  box-shadow: 0 3px var(--grey);
}
.btn:hover {
    box-shadow: 0 2px var(--grey);
    top: -2px;
  }
  section{
      display: none;
  }
  h1{
      color: blue;
      text-size-adjust: 30px;
      align-items: center;
  }
  p{
      color: cadetblue;
      text-size-adjust: 18;

  }
  button{
      color: cornsilk;
      background-origin: padding-box;
      color: darkblue;
  }
  footer {
    width: 50%;
    
    color: var(--tertiary);
    font: size 1px;
    padding: 10px;
    border-top: 5px solid var(--primary);
    text-size-adjust: 10px;
  }